extends layout

block content
  h1= title
  hr
  form(action="/" method="post")
    p Login
    textarea(name="login")
    input(type="submit" value="Submit")
    hr
    select(name="type")
      option Accomplishment
      option Gratitude
      option Quote
    p Text
    textarea(name="text")
    input(type="submit" value="Submit")
