doctype html
html
  head
    h1= title
    link(href='/stylesheets/style.css', rel='stylesheet')
   body  
    button(onclick="home()") Home
    button(onclick="thoughts()") Thoughts
    button(onclick="experience()") Experiences
    button(onclick="people()") People
    hr
    p Dear Friends and Family,
script.
  function home() {
    window.location.href = '/'
  }
  function thoughts() {
    window.location.href = '/thoughts'
  }
  function experience() {
    window.location.href = '/experience'
  }
  function people() {
    window.location.href = 'people'
  }
