doctype html
html
  head
    title="Julie\'s Happiness Log"
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel="icon" href="/images/smile.png")
  body
  div(class="topnav")
    button() Julie's Happiness Log
    button(onclick="home()", class="post_button") Home
    button(onclick="gratitude()", class="post_button") Gratitude
    button(onclick="accomplishments()", class="post_button") Accomplishments
    button(onclick="pictures()", class="post_button") Pictures
    button(onclick="quotes()", class="post_button") Quotes
  div(class="gallery")
    each pic in pics
      img(src="../images/gallery/" +pic)
script.
  function home() {
    window.location.href = '/'
  }
  function accomplishments() {
    window.location.href = '/accomplishments'
  }
  function gratitude() {
    window.location.href = '/gratitude'
  }
  function pictures() {
    window.location.href = '/pictures'
  }
  function quotes() {
    window.location.href = '/quotes'
  }
