doctype html
html
  head
    h1= title
  body  
    button(onclick="") Affirmations
    button(onclick="thoughts()") Thoughts
    button(onclick="experience()") Experiences
    button(onclick="people()") People
    hr
    each post in posts
      span= post.date.toDateString()
      p=post.text
script.
  function thoughts() {
    console.log("Called log")
    window.location.href = '/thoughts'
  }
  function experience() {
    window.location.href = '/experience'
  }
  function people() {
    window.location.href = 'people'
  }
